<div class="containar">
  <div class="row">

    <div class="col">
      <mat-card>
        <mat-card-subtitle>
          Number of new scholarship application
        </mat-card-subtitle>
        <mat-card-content>
          <hr>
          <i class="material-icons">assignment</i>
          <Span>{{new_sch}}</Span>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col">
      <mat-card>
        <mat-card-subtitle>
          Number of approved scholarship application
        </mat-card-subtitle>
        <mat-card-content>
          <hr>
          <i class="material-icons">done</i>
          <Span>{{approved_sch}}</Span>
        </mat-card-content>
      </mat-card>
    </div>

  </div>

  <div class="row">

    <div class="col">
      <mat-card>
        <mat-card-subtitle>
          Number of rejected scholarship application
        </mat-card-subtitle>
        <mat-card-content>
          <hr>
          <i class="material-icons">cancel</i>
          <Span>{{rejected_sch}}</Span>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col">
      <mat-card>
        <mat-card-subtitle>
          No.of scholarship which had sponsor
        </mat-card-subtitle>
        <mat-card-content>
          <hr>
          <i class="material-icons">done_all</i>
          <Span>{{spons_sch}}</Span>
        </mat-card-content>
      </mat-card>
    </div>

  </div>
</div>