<div class="container">
  <div class="d-flex justify-content-center">
    <div class="card">

      <div class="card-header">
        <img src="../../assets/img/akura_logo.png" alt="">
        <h3>Reset Password</h3>
      </div>

      <div class="card-body">
        <div *ngIf='msgVisibility'>
                {{allert}}
        </div>
        <form *ngIf='show'>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Email" [(formControl)]="email" name='email'>
            <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="email.hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <br>
            <button mat-raised-button color="primary" (click)='onResetPasswoord()'>Send Reset Link</button>
        </form>




      </div>




      <div class="card-footer">


      </div>

    </div>
  </div>
</div>