<div class="center">
  <div class="container justify-content-center">
    <form>
      <label><b>Change Password: </b></label>
      <hr>
      <mat-form-field>
        <input matInput placeholder="Enter your old password" [type]="hide ? 'password' : 'text'" name='old_password'
          [(ngModel)]='passData.old_password'>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <br>
      <mat-form-field>
        <input matInput placeholder="New password" [type]="hide2 ? 'password' : 'text'" name='password'
          [(ngModel)]='passData.password'>
        <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide2">
          <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <br>
      <mat-form-field>
        <input matInput placeholder="Confirm new password" [type]="hide2 ? 'password' : 'text'"
          name='password_confirmation' [(ngModel)]='passData.password_confirmation'>
        <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide2">
          <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <br>
      <button mat-raised-button color="primary" (click)='onResetPasswoord()'>Reset</button>
    </form>
  </div>
<br>
  <div class="container justify-content-center">
    <label><b>Deactivate Account: </b></label>
    <hr>
    <button mat-raised-button color="warn" (click)="openDialog()"> Deactivate </button>
  </div>

</div>