<div class = "container">
    <form>
        <img src="../../assets/img/akura_logo.png" alt=""> 
        <hr>
      <h2><u>Financial Management</u></h2>
      <h4>Main menu</h4>
    
          
        <button class = "btn btn-primary">Add Expenses    </button>
        <br><br>
        <button class = "btn btn-primary">Add income      </button>
        <br><br>
        <button class = "btn btn-primary">Generate reports</button>
        <br><br><br><br>
      
        <button class = "btn btn-dark">Back  </button>
        <br><br>
      
    </form>
    </div>